@using Doctors.Base.Models;
@model List<Service>
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li><a href="/Service/Index?Id=@item.Id">@item.NameDt</a></li>
    }
}