<footer class="ltn__footer-area  ">
    <div class="footer-top-area  section-bg-2 plr--5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-about-widget">
                        <div class="footer-logo">
                            <div class="site-logo">
                                <img src="/assets/img/logo.svg" alt="Logo">
                            </div>
                        </div>
                        <p>Được thành lập vào năm 2012, Pharmacity là một trong những chuỗi bán lẻ dược phẩm đầu tiên tại Việt Nam</p>
                        <div class="footer-address">
                            <ul>
                                <li>
                                    <div class="footer-address-icon">
                                        <i class="icon-placeholder"></i>
                                    </div>
                                    <div class="footer-address-info">
                                        <p>Tp.Hồ Chí Minh</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="footer-address-icon">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="footer-address-info">
                                        <p><a href="tel:+0123-456789">+0123-456789</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="footer-address-icon">
                                        <i class="icon-mail"></i>
                                    </div>
                                    <div class="footer-address-info">
                                        <p><a href="mailto:phuonglannguyen963@gmail.com">phuonglannguyen963@gmail.com</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ltn__social-media mt-20">
                            <ul>
                                <li><a href="https://www.facebook.com/" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/?lang=en" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="https://www.youtube.com/" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-menu-widget clearfix">
                        <h4 class="footer-title">Công ty</h4>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/Product/Index">Sản phẩm</a></li>
                                <li><a href="/Doctor/Index">Đội ngũ bác sĩ</a></li>
                                <li><a href="/Blog/Index">Tin tức</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-menu-widget clearfix">
                        <h4 class="footer-title">Dịch vụ</h4>
                        <div class="footer-menu">
                            <ul>
                                @await Component.InvokeAsync("ViewMenuService")
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget footer-menu-widget clearfix">
                        <h4 class="footer-title">Chăm sóc khách hàng</h4>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/Login">Đăng nhập</a></li>
                                <li><a href="/Login/Register">Đăng ký</a></li>
                                <li><a href="/Booking/Index">Đặt lịch hẹn</a></li>             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ltn__copyright-area ltn__copyright-2 section-bg-7  plr--5">
        <div class="container-fluid ltn__border-top-2">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="ltn__copyright-design clearfix">
                        <p>All Rights Reserved Company <span class="current-year"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>